@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: linear-gradient(178.74deg, rgba(216, 225, 255, 0.86) 1.07%, rgba(216, 225, 255, 0) 161.99%);
  opacity: 0.1;
}

.orange-gradient {
  box-shadow: 7px 6px 24px 5px rgba(255,199,0,0.75);
-webkit-box-shadow: 7px 6px 24px 5px rgba(255,199,0,0.75);
-moz-box-shadow: 7px 6px 24px 5px rgba(255,199,0,0.75);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/** Scrollbar***/
.styled-scrollbar::-webkit-scrollbar{
  background: #E5E5E5;
  width: 8px;
}

.styled-scrollbar::-webkit-scrollbar-track{
  background: #E5E5E5;
  width: 8px;

}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px 4px 4px 4px;
}
/*********/


/** message Drop **/

.drop{
  transform: translateY(0%);
  transition: all 500ms ease-in;
  padding-bottom: 50px;
}

.no-drop{
  transform: translateY(-110%);
  transition: all 500ms ease-in;
  /* padding-bottom: 20px; */
}

.dropParent{
  overflow-y: hidden;
  transition: height 500ms ease-out;
}

/****Description dropdown****/

.dropdown{
  position: absolute;
  top: 36px;
  transform: translateX(30%);
  border-radius: 4px;
  z-index: 100;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66);
  -webkit-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66); 
  transition: all 500ms ease-in;
  padding: 15px;
}

.no-dropdown{
  position: absolute;
  top: 36px;
  transform: translateX(0%);
  border-radius: 4px;
  height: 0px;
  z-index: 100;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66);
  -webkit-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66);
  -moz-box-shadow: 9px 10px 26px -4px rgba(0,0,0,0.66); 
  transition: all 500ms ease-in;
}

.dropdown-enter{
  width: 300px;
    background-color: none;
    border-radius: 2px;

  transform: translateY(0%);
  transition: all 500ms ease-in;
}

.dropdown-exit{
  width: 300px;
  transform: translateY(-110%);
  transition: all 500ms ease-out;
}

@media(max-width: 640px) and (min-width: 0px){

  .dropdown{
  transform: translateX(-2%);
  transition: transform 500ms ease-in;
  }
  

}

.arrow-right{
  transform: rotate(-90deg);
  transition: transform ease-in 500ms;
}
.arrow-down{
  transform: rotate(0deg);
  transition: transform ease-in 500ms;
}

/*********/


.redBorder{
  border: 1px solid red;
}

.box-overflow {
  word-break: break-all;
}


/*****Sidebar animations******/
.SideBar{
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.NoSideBar{
  transform: translateX(-105%);
  transition: transform 0.5s ease-in-out;
}

/********/


/*******/
.resources::nth-last-child(1) {
/* border-bottom: none; */
background-color: #94f236;
}

/******/


.shadow1{
  box-shadow: 10px 10px 51px -37px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 51px -37px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 51px -37px rgba(0,0,0,0.75);
}

blockquote:before,
blockquote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #94f236;
  font-size: 34px;
}

blockquote:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

blockquote:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}

@layer utilities {
  .clip-card-path {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  }

  /* This is new: for the ContentCard component*/
  .clip-card-path2 {
    clip-path: polygon(0 40%, 100% 15%, 100% 100%, 0 100%);
  }
}
