@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: linear-gradient(178.74deg, rgba(216, 225, 255, 0.86) 1.07%, rgba(216, 225, 255, 0) 161.99%);
  opacity: 0.1;
}

.blueShadow {
  box-shadow: -1px 5px 39px -7px rgba(157, 185, 228, 0.75);
  -webkit-box-shadow: -1px 5px 39px -7px rgba(157, 185, 228, 0.75);
  -moz-box-shadow: -1px 5px 39px -7px rgba(157, 185, 228, 0.75);
}

.slide-dot {
  transition: all 500ms ease-in;
}

.slide {
  transition: all 500ms ease-in;
}

.slider {
  transition: all 0ms ease-in;
}

.sliding {
  transition: all 11000ms ease-in-out;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translate(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For centering elements children */

.inputField {
  border: 1px solid rgba(204, 204, 204, 0.45);
  background-color: #fcfdfe;
  background-color: #fcfdfe;
  border-radius: 3px;
  outline: none;
}
.inputField:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}

.centerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resize {
  resize: none;
}

.dropdown-shadow {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.dashboard-card-shadow {
  box-shadow: 0px 0px 18px rgba(245, 245, 245, 0.21);
}

.resources-child {
  border: 0.35px solid rgba(133, 133, 133, 0.16);
}

.resources-child:nth-last-child(2) {
  border: none;
}

/** Vertical Scrollbar***/
.styled-scrollbar::-webkit-scrollbar {
  background: #e5e5e5;
  width: 8px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #e5e5e5;
  width: 8px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px 4px 4px 4px;
}
/*********/

/** Horizontal Scrollbar***/
.horizontal-scrollbar::-webkit-scrollbar {
  background: #e5e5e5;
  height: 4px;
}

.horizontal-scrollbar::-webkit-scrollbar-track {
  background: #e5e5e5;
  height: 4px;
}

.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px 4px 4px 4px;
}

/** Green Horizontal Scrollbar***/
.green-horizontal-scrollbar::-webkit-scrollbar {
  background: rgba(148, 242, 54, 0.06);
  height: 4px;
}

.green-horizontal-scrollbar::-webkit-scrollbar-track {
  background: rgba(148, 242, 54, 0.06);
  height: 4px;
}

.green-horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: #5cac0d;
  border-radius: 4px 4px 4px 4px;
}

/** message Drop **/

.drop {
  transform: translateY(0%);
  transition: all 500ms ease-in;
  padding-bottom: 50px;
}

.no-drop {
  transform: translateY(-110%);
  transition: all 500ms ease-in;
  /* padding-bottom: 20px; */
}

.dropParent {
  overflow-y: hidden;
  transition: height 500ms ease-out;
}

/****Description dropdown****/

.dropdown {
  position: absolute;
  top: 36px;
  left: 10px;
  /* transform: translateX(0%); */
  /* transform: translateX(30%); */
  border-radius: 4px;
  z-index: 100;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  transition: all 500ms ease-in;
  padding: 15px;
}

.no-dropdown {
  position: absolute;
  top: 36px;
  left: 10px;
  transform: translateX(0%);
  border-radius: 4px;
  height: 0px;
  z-index: 100;
  overflow-y: hidden;
  background-color: white;
  box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 10px 26px -4px rgba(0, 0, 0, 0.66);
  transition: all 500ms ease-in;
}

.dropdown-enter {
  width: 300px;
  background-color: none;
  border-radius: 2px;

  transform: translateY(0%);
  transition: all 500ms ease-in;
}

.dropdown-exit {
  width: 300px;
  transform: translateY(-110%);
  transition: all 500ms ease-out;
}

.show-drop {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}
.no-drop {
  transform: translateY(-105%);
  transition: transform 0.5s ease-in-out;
}
.parent-drop {
  transition: height 0.5s ease-in-out;
}

@media (max-width: 640px) and (min-width: 0px) {
  .dropdown {
    transform: translateX(-2%);
    transition: transform 500ms ease-in;
  }
}

.arrow-right {
  transform: rotate(-90deg);
  transition: transform ease-in 500ms;
}
.arrow-down {
  transform: rotate(0deg);
  transition: transform ease-in 500ms;
}

/*********/

.redBorder {
  border: 1px solid red;
}

.box-overflow {
  word-break: break-all;
}

/*****Sidebar animations******/
.SideBar {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.NoSideBar {
  transform: translateX(-105%);
  transition: transform 0.5s ease-in-out;
}

/********/

/*******/
.resources::nth-last-child(1) {
  background-color: #94f236;
}

/******/

.shadow1 {
  box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -37px rgba(0, 0, 0, 0.75);
}

blockquote:before,
blockquote:after {
  font-family: FontAwesome;
  position: absolute;
  color: #94f236;
  font-size: 34px;
}

blockquote:before {
  content: "\f10d";
  top: -12px;
  margin-right: -20px;
  right: 100%;
}

blockquote:after {
  content: "\f10e";
  margin-left: -20px;
  left: 100%;
  top: auto;
  bottom: -20px;
}

.masters-card {
  box-shadow: 0px 2px 12px rgba(226, 226, 226, 0.25);
  -webkit-box-shadow: 0px 2px 12px rgba(226, 226, 226, 0.25);
  -moz-box-shadow: 0px 2px 12px rgba(226, 226, 226, 0.25);
}

.masters-shadow {
  box-shadow: 0px 1px 48px rgba(235, 235, 235, 0.25);
}

.masters-shadow2 {
  box-shadow: 0px -3px 123px rgba(152, 153, 151, 0.09);
}

/* Masters gradient */
.rad-gradient {
  background-image: radial-gradient(rgba(181, 245, 116, 0.14), #fdfffa);
}

.middle-path {
  clip-path: polygon(0 0, 52% 5%, 100% 1%, 100% 100%, 51% 94%, 0 99%);
}

@layer utilities {
  .clip-card-path {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  }

  /* This is new: for the ContentCard component*/
  .clip-card-path2 {
    clip-path: polygon(0 40%, 100% 15%, 100% 100%, 0 100%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 600px) {
  .takke-otp-input__container {
    width: 100% !important;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
  }
  .takke-otp-input {
    display: flex !important;
    width: 100% !important;
    height: 40px !important;
    color: #111;
  }
}
